* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3F5EFB;
    background: linear-gradient(235deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 5px;
    border-radius: 6px;
    border: 2px solid #D1D5DB;
}

form {
    width: 30%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 3%;
}

.grid-right {
    margin-top: 20px;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

.register-btn {
    height: 50px;
    width: 100%;
    background-color: #FF6F61;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.already-have-account {
    color: grey;
    margin-top: 20px;
    text-align: center;
}

.already-have-account a {
    text-decoration: none;
}


@media (min-width: 319px) and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    form {
        width:100vh;
        margin: 20px;

    }

    .input-field {
        height: 40px;
        font-size: 15px;
}
    label {
        font-size: 13px;
    }

    .checkbox {
        height: 10px;
    }

    .register-btn {
        height: 40px;
    }
}
