* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaeafb;
}

.navbar {
    height: 70px;
    display: flex;
    background-color: #014B78;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    margin-left: 20px;
}

.links {
    margin-right: 20px;
}

.links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.masthead {
    background-image: url("assets/img/intro-bg.jpg");
    height: 500px;
    background-size: cover;
    
}

.intro-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.introduction-heading {
    color: white;
    font-size: 36px;
    text-align: center;
    align-self: center;
}

.introduction-paragraph {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    align-self: start;
    
}

form {
    background-color: black;
    color: white;
}

.header-right {

}

 input {
    height: 30px;
}