* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaeafb;
}

.navbar {
    height: 70px;
    display: flex;
    background-color: #014B78;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    margin-left: 20px;
}

.links {
    margin-right: 20px;
}

.links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.masthead {
    background-image: url("assets/img/intro-bg.jpg");
    height: 500px;
    background-size: cover;
    
}

.intro-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.introduction-heading {
    color: white;
    font-size: 36px;
    text-align: center;
    align-self: center;
}

.introduction-paragraph {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    align-self: start;
    
}

.header-right {
    display: flex;
    justify-content: center;
}

form {
    background-color: #014B78;
    color: white;
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid white;
}


label {
    font-size: 20px;
}

 .email-input, .password-input {
    height: 38px;
    width: 100%;
    max-width: 420px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding: 0 10px;
}

.get-started-button {
    height: 50px;
    width: 100%;
    max-width: 440px;
    background-color: #FF6F61;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

