<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../../static/assets/css/register.css">
</head>
<body>
<form class="register-form">
    <div class="grid-right">
        <h1>Register to continue</h1>
        <label>Your First Name<br>
            <input type="text" placeholder="Name" class="input-field" name="first_name">
        </label><br>
        <label>Your Last Name<br>
            <input type="text" placeholder="Name" class="input-field" name="last_name">
        </label><br>
        <label>Email<br>
            <input type="email" placeholder="Email" class="input-field" name="email">
        </label><br>
        <label>Password<br>
            <input type="password" placeholder="Password" class="input-field" name="password">
        </label><br>
        <label>Confirm Password<br>
            <input type="password" placeholder="Confirm Password" class="input-field" name="password">
        </label><br>
        <label>
            <input type="checkbox" class="checkbox" name="checkbox">
            Remember me
        </label><br>
        <button class="btn register-btn">Register</button>
    </div>
</form>
</body>
</html>